cmake-build-debug/
cmake-build-release/
build/
.idea/
.vscode/
*.exe
*.o
*.a
!lib/raylib_macos/lib/libraylib.a
!lib/raylib_linux/lib/libraylib.a
!lib/raylib/lib/libraylib.a
.DS_Store
web/node_modules/
